
/* shared style */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-text {
  background: linear-gradient(45deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  background-clip: text;
  color: transparent;
}
.gradient-color{
    background: linear-gradient(45deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}
.gradient-color:hover {
    background: linear-gradient(245deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  transform: scale(1.01);
}

.gradient-new{
    background: linear-gradient(45deg,
    #007B70 0%,
    #ECF955 100%
  );
}
.button-color{
  color: #00FF88;
  border: 2px solid #00FF88;
}
.button-color:hover{
  background-color: #007B70;
  transform: scale(1.05);
}
