
/* shared style */
.gradient-text {
  background: linear-gradient(45deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  background-clip: text;
  color: transparent;
}
.gradient-color{
    background: linear-gradient(45deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
}
.gradient-color:hover {
    background: linear-gradient(245deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  transform: scale(1.01);
}